<main>
  <h1>{{movie.Title}}</h1>
  <img ng-src="{{moviePoster}}">
  <div class="overview">
    <p><u>Starring:</u> {{movie.Actors}}</p>
    <p><u>Plot Summary:</u> {{movie.Plot}}</p>
    <h2>Additional Details</h2>
    <h4><u>Awards:</u> {{movie.Awards}}</h4>
    <h4><u>Country:</u> {{movie.Country}}</h4>
    <h4><u>Director:</u> {{movie.Director}}</h4>
    <h4><u>Genre:</u> {{movie.Genre}}</h4>
    <h4><u>Language:</u> {{movie.Language}}</h4>
    <h4><u>Metascore:</u> {{movie.Metascore}}</h4>
    <h4><u>Rated:</u> {{movie.Rated}}</h4>
    <h4><u>Released:</u> {{movie.Released}}</h4>
    <h4><u>Runtime:</u> {{movie.Runtime}}</h4>
    <h4><u>Writer:</u> {{movie.Writer}}</h4>
    <h4><u>Year:</u> {{movie.Year}}</h4>

  </div>
</main>
