<main>
  <article class="">
      <h1>{{movie.Title}}</h1>
      <img ng-src="{{moviePoster}}">
      <div class="overview">
        <p>Starring: {{movie.Actors}}</p>
        <p>{{movie.Plot}}</p>
        <h2>Additional Details</h2>
        <h4><b>Awards: </b></h4>
        <p>{{movie.Awards}}</p>
        <h4><b>Country: </b></h4>
        <p>{{movie.Country}}</p>
        <h4><b>Director: </b></h4>
        <p>{{movie.Director}}</p>
        <h4><b>Genre: </b></h4>
        <p>{{movie.Genre}}</p>
        <h4><b>Language: </b></h4>
        <p>{{movie.Language}}</p>
        <h4><b>Metascore: </b></h4>
        <p>{{movie.Metascore}}</p>
        <h4><b>Rated: </b></h4>
        <p>{{movie.Rated}}</p>
        <h4><b>Released: </b></h4>
        <p>{{movie.Released}}</p>
        <h4><b>Runtime: </b></h4>
        <p>{{movie.Runtime}}</p>
        <h4><b>Writer: </b></h4>
        <p>{{movie.Writer}}</p>
        <h4><b>Year: </b></h4>
        <p>{{movie.Year}}</p>
      </div>
  </article>
</main>


<!-- <h1>Hi! You made it here! yay! </h1> -->
